body {
    margin: 0;
}
#page-wrapper {
max-height: 100vh;
overflow: hidden;
}
#middle {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 8%;
}
button {
  height: 2.5em;;
  border-style: none;
  border-radius: 0.3em;
  justify-self: center;
  margin: 0.30em;
  }
#search input {
    min-width: 60%;
    max-width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 2em;
    height: 2.5em;
}
#footer {
    background-color: #f2f2f2;
    height: 2em;
    font-size: 0.9em;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 1em;
}
a:hover {
text-decoration: underline;
}
#header {
    font-size: 0.8em;
    padding: 2%;
}
a {
    text-decoration: none;
    color: #373737;
}
#search input:hover {
    box-shadow: 1px 1px 1px grey;
}
button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px grey;
}
ul {
    list-style: none;
}
li {
    display: inline;
}
.left {
    padding: 1em;
    float: left;
}
.right {
    padding: 1em;
    float: right;
}
@media (max-width: 520px) {
img {
    max-width: 80vw;
}
}
@media (max-width: 713px) {
    #search input {
        {
        width: 90%;
    }
    }
@media (max-width: 622px) {
    #footer, #header{
        font-size: 0.6em;
    }
}
@media (max-width: 416px) {
    .left {
        float: none;
        
}